body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url('./assets/cody-weiss-sOCob88Giko-unsplash.png');
  background-position: 35% 40%;
}

h1 {
  display: flex;
  margin: 0px 30px;
  color: white;
  margin-top: 60%;
  font-weight: normal;
  font-size: 26px;
  margin-bottom: 20px;
}

h2 {
  display: flex;
  margin: 0px 8%;
  color: white;
  margin-top: 50%;
  font-weight: normal;
  font-size: 26px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

input {
  display: flex;
  justify-content: center;
  width: 80%;
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
  margin: 30px;
  color: white;
  font-size: 20px;
  padding: 1rem;
}

::placeholder {
  color: white;
  opacity: 0.5;
}

.error ::placeholder {
  color: white;
}

button {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-bottom: 120%;
  font-size: 16px;
  font-weight: normal;
  color: white;
  border: solid 2px white;
  padding: 10px;
  margin-top: 20px;
  background-color: transparent;
}

label {
  display: flex;
  justify-content: center;
  width: 100%;
}

span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

span.labelSection {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 20px;
}

span.feedbackSection {
  display: flex;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + span {
  opacity: 0.3;
}

input[type="radio"]:hover + span {
  opacity: unset;
  cursor: pointer;
}

input[type="radio"]:checked + span {
  opacity: 1;
  transform: scale(1.3);
}

select {
  background-color: transparent;
  color: white;
  opacity: 0.5;
  padding: 25px;
  font-size: 20px;
  border: 2px white;
  cursor: pointer;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

span.question {
  display: flex;
  justify-self: center;
  align-items: center;
}

p {
  color: white;
  font-size: 20px;
  margin: 20px 30px 0px 30px;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 100%; 
}

/** MEDIA-QUERIES **/

@media (min-width: 668px) {

h2 {
  margin: 0px 15%;
  margin-top: 40%;
}

main {
  background-position: 35% 40%;
}

input {
  width: 70%;
}

button {
  width: 70%;
}

form.treatment {
  align-items: unset;
}

select.select {
  margin: 20px 15%;
  width: 70%;
  padding: 0px;
}

span.labelSection {
  display: flex;
  flex-direction: row;
}

.feedbackSection h2 {
  margin: 0px 13%;
  margin-top: 40%;
}

h1 {
  margin-top: 40%; 
}

.summary {
  margin-bottom: 80%; 
  align-items: center;
}
}

@media (min-width: 900px) {
  h2 {
    margin: 20% 30% 0px 30%;
  }

  h1 {
    margin-top: 20%; 
  }

  .feedbackSection h2 {
    margin: unset;
    margin-top: unset;
  }

  span.feedbackSection h2 {
    margin: 20% 30% 0px 30%;
  }

  input {
    width: 40%;
  }

  select.select {
    margin: 30px 30%;
    width: 40%;
  }
  
  span.labelSection {
    width: 40%;
  }

  button {
    width: 40%;
  }

}

